<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Vacación</title>
</head>
<body>
    <h1>Agregar Vacación</h1>
    <form method="post">
        <label for="cliente_nombre">Nombre del Cliente</label>
        <input type="text" id="cliente_nombre" name="cliente_nombre">
        <label for="fecha_inicio">Fecha de Inicio</label>
        <input type="text" id="fecha_inicio" name="fecha_inicio">
        <label for="fecha_fin">Fecha de Fin</label>
        <input type="text" id="fecha_fin" name="fecha_fin">
        <input type="submit" value="Agregar">
    </form>
</body>
</html>